<div class="container">
  <div class="user-details">
	<h3 style="text-align:center"> About Me </h3>
    <p> {{site.user_description}} <a class="project-link" href="https://github.com/RohanKumarSachdeva"><i class="fa fa-camera" aria-hidden="true"></i>
</a></p>
    <h5 style="text-align:center"> Technical Interests </h5>
    <p> {{site.user_technical}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Design</h4>
      <i class="devicon-photoshop-plain colored"></i>
      <i class="devicon-illustrator-line colored"></i>
     
      <p>For designing and animation I have hands on PhotoShop, Adobe Animate and PowToon</p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-java-plain colored"></i>
      <i class="devicon-c-line-wordmark colored"></i>
      <i class="devicon-mysql-plain colored"></i>
	  <p>I code in C, Java, C++ and SQL. I am learning programming in Hadoop framework</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      
	  <i class="icon fa fa-cogs" aria-hidden="true"></i>
      
      <p>I have hands on Unity 3D for developing 3D games. Eclipse and Star UML for Java based applications.</p>
    </div>
  </div>
</div>
