<div class="container">
  <div class="user-details">
	<h3 style="text-align:center"> Badges </h3>
<div class="row user-projects">
    <div class="six columns images" style="text-align:right; padding-right:30px">
      <div  data-iframe-width="400" data-iframe-height="240" data-share-badge-id="c23540bb-9a85-4b4f-993a-d91a7f4c1255"></div>
	  <script type="text/javascript">
    (function() {
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = '//cdn.youracclaim.com/assets/utilities/embed.js';
      var o = document.getElementsByTagName('script')[0];
      o.parentNode.insertBefore(s, o);
      })();
  </script>
	  
	  </div>
    <div class="six columns">
      <h5><i class="fa fa-certificate" aria-hidden="true"></i>
 Oracle Certified Associate </h5>
      
      <p style="text-align:justify; padding-left:40px">As an Oracle Certified Associate, Java SE 8 Programmer I possess knowledge of object-oriented concepts, the Java programming language and general knowledge of Java platforms and technologies.</p>
      <a class="project-link" href="eCertificate.pdf"">Certificate</a>
    </div>
  </div>
  </div>
  </div>
  