<div class="container">
  <div class="user-details">
	<h3 style="text-align:center"> Experience </h3>
    <h5 style="text-align:left"> <i class="fa fa-briefcase" aria-hidden="true"></i>
Summer Intern </h5>
<b>Bharat Sanchar Nigam Lmtd. (B.S.N.L)</b></br>
<i>06-June-2016 to 29-June-2016 </br> <i class="fa fa-map-marker" aria-hidden="true"> Allahabad</i></i>
  
</br></br>
<b>Tasks/Acheivements</b>
    <p> My technical interests include programming in C, Java, SQL I practice coding challenges on HackerRank  in the same language and sometimes prefer C++ . For web technology I have basics of HTML, CSS, JavaScript, Servlets and PHP. I have started learning the concepts of BIG Data using Hadoop framework and have implemented few algorithms in the same. </p>
  <h5 style="text-align:left"> <i class="fa fa-users" aria-hidden="true"></i>
<b>University Chapter</b> </h5>
    <b>CodeChef VIT Chapter</b></br>
<i>Core Committee Member </br> <i class="fa fa-map-marker" aria-hidden="true"> VIT Vellore</i></i>
  
</br></br>
<b>Tasks/Acheivements</b>
    <p> My technical interests include programming in C, Java, SQL I practice coding challenges on HackerRank  in the same language and sometimes prefer C++ . For web technology I have basics of HTML, CSS, JavaScript, Servlets and PHP. I have started learning the concepts of BIG Data using Hadoop framework and have implemented few algorithms in the same. </p>
  
  </div></div>