<div class="container">
  <div class="user-details">
	<h3 style="text-align:center"> Experience </h3>
    <h5 style="text-align:left"> <i class="fa fa-briefcase" aria-hidden="true"></i>
Summer Intern </h5>
<b>Bharat Sanchar Nigam Lmtd. (B.S.N.L)</b></br>
<i>06-June-2016 to 29-June-2016 </br> <i class="fa fa-map-marker" aria-hidden="true"> Allahabad</i></i>
  
</br></br>
<b>Tasks/Acheivements</b>
    <p> I was assigned under the Card Detail Record Sectiom of B.S.N.L. Initially i got opprtunity to visit all the section like Broadband section, TAX and CDR. In CDR i was assigned to make reports in SAP. </p>
  <h5 style="text-align:left"> <i class="fa fa-users" aria-hidden="true"></i>
<b>University Chapter</b> </h5>
    <b>CodeChef VIT Chapter</b></br>
<i>Core Committee Member </br> <i class="fa fa-map-marker" aria-hidden="true"> VIT Vellore</i></i>
  
</br></br>
<b>Tasks/Acheivements</b>
    <p>CodeChef VIT Chapter deals with competetive coding in feilds of Computer Science. Apart from coding I got experience of managing events, I was part of events like Cook Off and Junkyard Genius </p>
  
  </div></div>
