<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/shopping-cart-emails.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Shopping Store Management </h5>
      <li>A C++ BASED APPLICATION</li>
      <p style="text-align:justify; padding-right:40px">Shopping Store Management is C++ based application, for a managing goods in a store. It provides facility for its administrator to log his products and the visiting customer can buy the available products. Passwords are set for admin use to add items in repository.</p>
      <a class="project-link" href="https://github.com/RohanKumarSachdeva/Shopping-Store-Management">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/text-editor.ico" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> TEXT EDITOR </h5>
      <ul>
        <li>A JAVA BASED APPLICATION</li>
      </ul>
      <p style="text-align:justify">A basic java enabled Text editor, which allows to to create, edit, open and save text files. Build on netbeans it is a responsive text editor with clean interface.</p>
      <a class="project-link" href="https://github.com/RohanKumarSachdeva/Text-Editor">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/number.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Number Puzzle  </h5>
      <li>A JAVA BASED APPLICATION</li>
      <p style="text-align:justify">An intuitive java based game, with the objective to arrange the number from 1-8 in correct order. The game provides interactive interface. It also helps the user by providing hints in case needed. The tab “Solution exists” tells the user to solve current situation.The randomise button restarts the game by disturbing the correct order. The user is also notified about the number of moves the user took to complete the game.</p>
      <a class="project-link" href="https://github.com/RohanKumarSachdeva/Number-Puzzle">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/webpage.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Personal & Course Registration Webpage </h5>
      <ul>
        <li>A WEB BASED APPLICATION</li>
      </ul>
      <p style="text-align:justify">A personal page showcasing trivial outcome of HTML, CSS, Javascript. The page is connected by a course registration form enabled with javascript analysis and connected to sql database. It records a fee payment attribute which is verified before any login, which is followed by simple tutorial page. </p>
      <a class="project-link" href="https://github.com/RohanKumarSachdeva">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/game.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Tom and Jerry: Game Application </h5>
      <li> A JAVA BASED APPLICATION</li>
      <p style="text-align:justify;padding-right:40px">A recreation of legendary Tom and Jerry chase game. With normal and hard modes the game features an interactive menu system and various basic funtionalities like pause and play. Its completely java based gaming application with spawning system and health monitor.</p>
      <a class="project-link" href="https://github.com/RohanKumarSachdeva">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/ballgame.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Maze Runner: Unity3D </h5>
      <ul>
        <li>GAME POWERED BY UNITY3D</li>
      </ul>
      <p style="text-align:justify"></p>
      <a class="project-link" href="https://github.com/RohanKumarSachdeva">Check it out</a>
    </div>
  </div></br></br>
  <a class="down" href="#about" data-scroll style="color:black;"><i class="icon fa fa-chevron-up" aria-hidden="true"></i></a>
</div>
